<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="brand1" class="demo-form-inline">

        <el-form-item label="当前状态">
            <el-select v-model="brand1.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="企业名称">
            <el-input v-model="brand1.companyName" placeholder="企业名称"></el-input>
        </el-form-item>

        <el-form-item label="品牌名称">
            <el-input v-model="brand1.brandName" placeholder="777"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain>批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible1 = true">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible1"
            width="30%"
    >

        <el-form ref="form" :model="brand1" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand1.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand1.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand1.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand1.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand1.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addBrand">提交 </el-button>
                <el-button @click="dialogVisible1 = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

<!--修改表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible2"
            width="30%"
    >

        <el-form ref="form" :model="brand2" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand2.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="brand2.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand2.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand1.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand2.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="">提交 </el-button>
                <el-button @click="dialogVisible2 = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    :index="indexMethod"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="status"
                    align="center"
                    label="当前状态">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <el-row>
                    <el-button type="primary" @click="reset1">修改</el-button>
                    <el-button type="danger">删除</el-button>
                </el-row>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="400">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted(){


            /*var _this=this;
            axios({
                method:"get",
                url:"http://localhost:8080/Demo/brand/selectAll"
            }).then(function (resp) {
                _this.tableData = resp.data;
            })*/
            this.selectAll();
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            //查询所有
            selectAll(){
                var _this=this;
              axios({
                  method:"get",
                  url:"http://localhost:8080/Demo/brand/selectAll",
              }).then(function (res) {
                  console.log(res.data);
                  _this.tableData=res.data;
              })
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(val)
                console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                this.selectAll();
                console.log(this.brand);
            },
            //修改
            reset1(){
                //console.log(this.brand2);
                this.dialogVisible2=true;
                var _this=this;
                axios({
                    method:"get",
                    url:"http://localhost:8080/Demo/brand/selectByid"+"?id=",
                }).then(function (resp) {

                })
            },
            // 添加数据
            addBrand(){
                var _this=this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/add",
                    data:_this.brand1
                }).then(function (resp) {
                    if(resp.data=="success")
                    {
                        _this.dialogVisible1=false;
                        //alert("666");
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                        console.log(_this.brand);
                        _this.selectAll();
                    }
                })

            },

            //分页
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            indexMethod(index) {
                return index+1;
            }
        },

        data() {
            return {
                // 当前页码
                currentPage: 4,
                // 添加数据对话框是否展示的标记
                dialogVisible1: false,
                dialogVisible2: false,

                // 品牌模型数据
                brand1: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },

                brand2: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    brandName: '?华为',
                    companyName: '华为科技有限公司',
                    id:'1',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    id:'2',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    id:'3',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: 'uuu华为',
                    companyName: '华为科技有限公司',
                    id:'4',
                    ordered: '100',
                    status: "1"
                }]
            }
        }
    })

</script>

</body>
</html>