<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌数据展示</title>

</head>
<body>
<div id="app">

<!--搜索框-->
    <el-form :inline="true" :model="brand3" class="demo-form-inline">

        <el-form-item label="当前状态">
            <el-select v-model="brand3.statusStr" placeholder="当前状态">
                <el-option label="任意" value="任意"></el-option>
                <el-option label="启用" value="启用"></el-option>
                <el-option label="禁用" value="禁用"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="brand3.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brand3.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="selectByConditions">查询</el-button>
        </el-form-item>
    </el-form>



    <!--<el-row>

        <el-button type="primary">主要按钮</el-button>
        <el-button type="danger">危险按钮</el-button>
    </el-row>-->

    <el-row>
        <el-button type="danger" plain @click="All">批量删除</el-button>
        <el-button type="primary" plain @click="add1">新增</el-button>
    </el-row>


    <template>

<!--brandName:'华为',
                    companyName:'华为',
                    description:'万物互联',
                    id:'1',
                    ordered:'100',
                    status:'1',-->
        <el-table
                :data="tableData"
                border
                stripe
                highlight-current-row
                @selection-change="handleSelectionChange"
                style="width: 100%">
       <!--复选框-->     <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <!--序号-->
            <el-table-column
                    align="center"
                    type="index"
                    :index=1
                    width="100">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="id"
                    label="序号"
                    width="100">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="brandName"
                    label="品牌名称"
                    width="300">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="companyName"
                    label="企业名称"
                    width="300">
            </el-table-column>

            <el-table-column
                    align="center"
                    prop="ordered"
                    label="排序"
                    width="100">
            </el-table-column>

            <el-table-column
                    align="center"
                    prop="statusStr"
                    label="当前状态"
                    width="70">
            </el-table-column>

            <el-table-column
                    align="center"
                    prop="description"
                    label="备注">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <div class="block">
            <span class="demonstration"></span>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[14, 20, 25, 50]"
                    :page-size="100"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>
        </div>
    </template>

<!--表单--><!-- brand:{
                    brandName:'',
                    companyName:'',
                    description:'',
                    id:'',
                    ordered:'',
                    status:'',
                },-->
    <el-dialog title="添加品牌" :visible.sync="dialogFormVisible1">
        <el-form :model="brand1">
            <el-form-item label="品牌名称" :label-width="formLabelWidth">
                <el-input v-model="brand1.brandName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="企业名称" :label-width="formLabelWidth">
                <el-input v-model="brand1.companyName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="brand1.ordered" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth">
                <el-input v-model="brand1.description" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-select v-model="brand1.statusStr" placeholder="请选择状态">
                    <el-option label="启用" value="启用"></el-option>
                    <el-option label="禁用" value="禁用"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="add2">确 定</el-button>
        </div>
    </el-dialog>


    <!--编辑表单brand2-->


    <el-dialog title="添加品牌" :visible.sync="dialogFormVisible2">
        <el-form :model="brand2">
            <el-form-item label="品牌名称" :label-width="formLabelWidth">
                <el-input v-model="brand2.brandName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="企业名称" :label-width="formLabelWidth">
                <el-input v-model="brand2.companyName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="brand2.ordered" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth">
                <el-input v-model="brand2.description" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-select v-model="brand2.statusStr" placeholder="请选择状态">
                    <el-option label="启用" value="启用"></el-option>
                    <el-option label="禁用" value="禁用"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible2 = false">取 消</el-button>
            <el-button type="primary" @click="update">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el:"#app",
        mounted(){


            /*var _this=this;
            axios({
                method:"get",
                url:"http://localhost:8080/Demo/brand/selectAll"
            }).then(function (resp) {
                _this.tableData = resp.data;
            })*/
            this.selectAll();
        },
        data() {
            return {
                tableData: [{
                    brandName:'华为',
                    companyName:'华为',
                    description:'万物互联',
                    id:'1',
                    ordered:'100',
                    statusStr:'1',
                },{
                    brandName:'华为',
                    companyName:'华为',
                    description:'万物互联',
                    id:'1',
                    ordered:'100',
                    statusStr:'1',
                },{
                    brandName:'华为',
                    companyName:'华为',
                    description:'万物互联',
                    id:'1',
                    ordered:'100',
                    statusStr:'1',
                },{
                    brandName:'华为',
                    companyName:'华为',
                    description:'万物互联',
                    id:'1',
                    ordered:'100',
                    statusStr:'1',
                }
                ],
                dialogFormVisible1: false,
                dialogFormVisible2: false,
                brand1:{
                    brandName:'',
                    companyName:'',
                    description:'',
                    id:'',
                    ordered:'',
                    statusStr:'',
                },

                brand2:{
                    brandName:'123',
                    companyName:'44',
                    description:'',
                    id:'',
                    ordered:'',
                    statusStr:'',
                },
                brand3:{
                    brandName:'',
                    companyName:'',
                    description:'',
                    id:'',
                    ordered:'',
                    statusStr:'',
                },
                formLabelWidth: '120px',
                selectedIds:[],//选中的复选框
                multipleSelection: [],

                /*分页*/

                currentPage:1,
                size:14,
                totalCount:100


            }



        },
        /*brand1:{
                    brandName:'',
                    companyName:'',
                    description:'',
                    id:'',
                    ordered:'',
                    statusStr:'',
                },*/
        methods: {
            add1(){
                this.brand1.brandName=""
                this.brand1.companyName=""
                this.brand1.description=""
                this.brand1.id=""
                this.brand1.ordered=""
                this.brand1.statusStr=""
                this.dialogFormVisible1 = true
            },
            add2() {
                var _this=this;
                if(this.brand1.statusStr=="启用")
                    this.brand1.status=1;
                else if(this.brand1.statusStr=="禁用")
                    this.brand1.status=0;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/add",
                    data:this.brand1
                }).then(function (res) {
                    if(res.data=="success")
                        _this.$message({
                            message: '添加成功!',
                            type: 'success'
                        });
                        _this.selectAll();
                })
                this.dialogFormVisible1 = false;
            },

            selectByConditions(){
                var _this=this;
                if(this.brand3.statusStr=="启用")
                    this.brand3.status=1;
                else if(this.brand3.statusStr=="禁用")
                    this.brand3.status=0;
                else if(this.brand3.statusStr=="任意")
                    this.brand3.status=null;
                this.selectAll();
                    /*_this.selectAll();*/
                    /*_this.$message({
                            message: '搜索结果如下',
                            type: 'success'
                        });*/

            },

            update(){
                var _this=this;
                if(this.brand2.statusStr=="启用")
                    this.brand2.status=1;
                else if(this.brand2.statusStr=="禁用")
                    this.brand2.status=0;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/update",
                    data:this.brand2
                }).then(function (res) {
                    if(res.data=="success")
                        _this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });
                    _this.selectAll();
                    _this.dialogFormVisible2 = false;
                })

            },
            /*handleCurrentChange(val){
                this.multipleSelection=val;
                /!*console.log(this.multipleSelection);*!/
            },*/

            handleSelectionChange(val){
                this.multipleSelection=val;
                /*console.log(this.multipleSelection);*/
            },
            All(){
                console.log(this.multipleSelection);
                /*!confirm("确认删除吗?此操作不可恢复.")*/
                if(this.multipleSelection<=0)
                    return;
                if(confirm("确认删除吗?此操作不可恢复.")) {
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        this.selectedIds[i] = this.multipleSelection[i].id;
                    }
                    var _this = this;
                    axios({
                        method: "post",
                        url: "http://localhost:8080/Demo/brand/deleteByIds",
                        data: this.selectedIds
                    }).then(function (res) {
                        if (res.data == "success")
                            _this.$message({
                                message: '删除成功!',
                                type: 'success'
                            });
                        _this.selectAll();
                    })
                }
            },
            handleEdit(index, row) {
                var _this=this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/selectById",
                    data:row
                }).then(function (res) {
                    _this.brand2=res.data;
                })
                this.dialogFormVisible2 = true;
            },
            handleDelete(index, row) {
                if(!confirm("确定删除吗?"))
                return;
                var _this=this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/deleteById",
                    data:row
                }).then(function (res) {
                    if(res.data=="success")
                        _this.$message({
                            message: '删除成功!',
                            type: 'success'
                        });
                    _this.selectAll();

                })
            },

            selectAll(){
                var _this=this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Demo/brand/selectByPageAndCondition?currentPage="+this.currentPage+"&size="+this.size,
                    data:this.brand3
                }).then(function (res) {
                    //console.log(res.data);
                    _this.tableData=res.data.list;
                    _this.totalCount=res.data.totalCount;
                })
            },

            /*分页*/
            handleSizeChange(val) {
                /*console.log(`每页 ${val} 条`);*/
                this.size=val;
                this.selectAll();

            },
            handleCurrentChange(val) {
                /*console.log(`当前页: ${val}`);*/
                this.currentPage=val;
                this.selectAll();
                /*var _this=this;
                axios({
                    method:"get",
                    url:"http://localhost:8080/Demo/brand/selectAll",
                }).then(function (res) {
                    console.log(res.data);
                    _this.tableData=res.data;
                })*/
            },

            /*calculateTotal(){
            }*/
        }



    })


</script>
<script>

</script>
</html>